.platinum-zaplink {
    height: 22px;
    width: 20px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.platinum-zaplink img {
    width: 25px;
}