footer {
    background: linear-gradient(rgb(var(--color_27)));
    bottom: 250px;
    display: flex;
    margin-block-end: auto;
    vertical-align: baseline;
    align-items: center;
    justify-content: center;
}

.platinum-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}