cookie-banner-primary-color: #fff;
cookie-banner-secondary-color: #000;
cookie-banner-font-family: HelveticaNeue,Helvetica Neue,helvetica,Sans-Serif;
cookie-banner-font-size: 14px;
color_0: 255,255,255;
color_27: 247,247,247;
color_1: 16,19,23;
color_2: 51,78,215;
color_3: 26,29,35;
color_4: 247,247,247;
color_5: 80,227,194;
color_6: 255,255,255;
color_7: 186,195,207;
color_8: 116,134,158;
color_28: 185,185,185;
color_9: 64,76,92;
color_10: 16,19,23;
color_11: 255,255,255;
color_12: 186,195,207;
color_13: 116,134,158;
color_14: 64,76,92;
color_15: 16,19,23;
color_16: 187,196,242;
color_17: 119,137,228;
color_18: 51,78,215;
color_29: 124,124,124;
color_19: 29,49,148;
color_20: 15,24,74;
color_21: 203,208,217;
color_22: 152,161,178;
color_23: 103,114,138;
color_24: 64,72,87;
color_25: 26,29,35;
color_30: 62,62,62;
color_31: 168,241,225;
color_32: 80,227,194;
color_33: 32,198,161;
color_34: 21,132,107;
color_35: 11,66,54;
font_0: normal normal normal 22px/1.41em cormorantgaramond-semibold,cormorantgaramond,'cormorant garamond',serif;
font_1: normal normal normal 14px/1.79em proxima-n-w01-reg,proxima-n-w05-reg,sans-serif;
font_2: normal normal normal 28px/1.375em cormorantgaramond-semibold,cormorantgaramond,'cormorant garamond',serif;
font_3: normal normal normal 88px/1.2em cormorantgaramond-semibold,cormorantgaramond,'cormorant garamond',serif;
font_4: normal normal normal 72px/1.25em cormorantgaramond-semibold,cormorantgaramond,'cormorant garamond',serif;
font_5: normal normal normal 50px/1.34em cormorantgaramond-semibold,cormorantgaramond,'cormorant garamond',serif;
font_6: normal normal normal 40px/1.35em cormorantgaramond-semibold,cormorantgaramond,'cormorant garamond',serif;
font_7: normal normal normal 20px/1.67em roboto-thin,roboto,sans-serif;
font_8: normal normal normal 18px/1.75em roboto-thin,roboto,sans-serif;
font_9: normal normal normal 15px/1.875em proxima-n-w01-reg,proxima-n-w05-reg,sans-serif;
font_10: normal normal normal 14px/1.79em proxima-n-w01-reg,proxima-n-w05-reg,sans-serif;
site-width: 980px;
above-all-z-index: 100000;
portals-z-index: 100001;
minViewportSize: 320;
color_26: 251,251,251;
maxViewportSize: 1920;
font-size: 10px;
font-family: Arial,Helvetica,sans-serif;
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
background: transparent;
position: relative;